{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "_": true,
        "Vue": true,
        "UIkit": true
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 6,
    },
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended",
    ],
    "rules": {
        "quotes": [2, "single", "avoid-escape"],
        "eqeqeq": [2, "smart"],
        "guard-for-in": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-unused-vars": [2, {"vars": "local", "args": "none"}],
        "strict": 0,
        "new-cap": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0,
        "no-new": 0,
        "no-alert": 0,
        "no-use-before-define": 0,
        "consistent-return": 0,
        "indent": ["error", 4],
        "vue/html-indent": ["error", 4, {
            "attribute": 1,
            "baseIndent": 1,
            "closeBracket": 0,
            "alignAttributesVertically": true,
            "ignores": []
        }],
        "vue/max-attributes-per-line": ["error", {
            "singleline": 5,
            "multiline": {
               "max": 1,
               "allowFirstLine": false
            }
        }]
    }
}