**/app/bundle/**/*.js
/app/vendor/*
/app/assets/*
!/app/assets/codemirror
!/app/assets/marked
!/app/assets/jquery
!/app/assets/uikit
/app/installer/assets/css/*
/app/system/modules/theme/css/*
/packages/*
/pagekit*.zip
/pagekit.db
/config.php
/composer.lock
/package-lock.json
node_modules
.DS_Store
.idea
